body {
	padding: 0;
	margin: 0;
	position: fixed;
	background:#FFFFFF;
	width: 1280px;
	height: 927px;
	
	
}




#navbar {
	
	background: #000000;
	width: 80px;
	height: 927px;
	position: fixed;
	


}

#navbar ul {
	float: right;
	margin-top: 117px;
	list-style-type: none;
	

	
	
}

#navbar li {
	float: left;
    margin-right: 17px;
	padding-top: 15px;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}



#navbar li:hover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
margin-left: 10px;

	
	
}


#navbar li:active {
	
	margin-bottom: 800px;
	padding-top: 100px;
	

}

